/*--------------------------------------------------------------
# Section porque
--------------------------------------------------------------*/
.porque-section {
    .section-title {
        .title-default {
            strong {
                display: block;
            }
        }

        .subtitle-default {
            padding-right: 1rem;
        }

        @media (min-width: 991.98px) {
            .btn {
                max-width: 75%;
            }
        }
    }
}