/*--------------------------------------------------------------
# Section porque
--------------------------------------------------------------*/
.porque-section {
  .section-title {
    .title-default {
      strong {
        display: block;
      }
    }
    .subtitle-default {
      padding-right: 1rem;
    }
    .btn {
      max-width: 75%;
    }
  }
}
