/*--------------------------------------------------------------
# Components Accordion
--------------------------------------------------------------*/
#accordion {
    background-color: transparent;

    .card {
        background-color: transparent;
        border-radius: none;
        border: none;

        &:not(:last-child) {
            margin-bottom: 0.8rem;
        }

        &:last-child {
            .card-body {
                padding-bottom: 0;
            }
        }
    }

    .card-header,
    .card-body {
        background-color: transparent;
    }

    .card-header {
        padding: 0;
        border: none;


        h5 {
            width: 100%;

            .btn {
                padding: 1.25rem;
                font-size: 1rem;
                line-height: 1;
                width: 100%;
                background-color: $bg-light;
                display: flex;
                align-items: center;
                text-align: left;
                color: $primary;

                border-radius: 0.475rem;

                text-transform: none;
                position: relative;

                &:focus {
                    box-shadow: none;
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: none;
                    color: $primary;
                }

                &:before,
                &:after {
                    content: "";
                    width: 17px;
                    height: 3px;
                    display: block;
                    background-color: $secondary;
                    border-radius: 2px;
                    position: absolute;
                    top: 50%;
                }

                &:before {
                    transform: rotate(-45deg);
                    right: 31px;
                }

                &:after {
                    transform: rotate(45deg);
                    right: 20px;
                    // opacity: 0;
                }

                &.collapsed {

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }

            .btn[aria-expanded="true"] {
                color: $primary;

                .iconify {
                    transform: rotate(90deg);
                }
            }
        }
    }

    .card-body {
        padding-top: 2rem;

        // p,
        // li {
        //   font-weight: $fw-light;
        //   &:not(:last-child) {
        //     margin-bottom: 1rem;
        //   }
        // }
        h6 {
            font-weight: $fw-medium;
            margin-bottom: 1.2rem;
        }

        p {
            margin-bottom: 1.2rem;

            &:last-child {
                margin-bottom: 0;
            }

            +h6 {
                margin-top: 2rem;
            }
        }

        .btn-link {
            padding-left: 0;
            display: inline-flex;
            align-items: center;
            text-transform: initial;
            color: $black;

            svg {
                font-size: 1.1rem;
                margin-right: 0.4rem;
                color: $primary;
            }
        }
    }
}