/*--------------------------------------------------------------
# Components Badge
--------------------------------------------------------------*/
.badge {
    &.discount {
        border-radius: 0.5rem;
        background-color: $bg-light;

        display: inline-flex;
        align-items: center;
        gap: 0.4rem;

        color: $green;
        font-size: 1rem;
        font-weight: $fw-bold;
    }
}