/*--------------------------------------------------------------
# Components Range
--------------------------------------------------------------*/
.rangeslider {
  height: 8px;
  box-shadow: none;

  background-color: $light-primary;
  margin: 1.4rem 0;

  .rangeslider__fill {
    background-color: $primary;
  }
  .rangeslider__handle {
    &:after {
      display: none;
    }
    width: 12px;
    height: 12px;
    top: -2px;
    background-color: $dark-primary;
    border-color: $dark-primary;
  }
  + .output {
    width: 100%;
    text-align: right;

    font-size: 0.975rem;
    color: $dark-gray;
  }
}
