/*--------------------------------------------------------------
# Components Select2
--------------------------------------------------------------*/
.select2-cursos {
    +.select2 {
        .select2-selection {
            height: 3rem;
            border-radius: 0.675rem;
            border: none;

            .select2-selection__rendered {
                line-height: 3rem;
                padding-left: 1rem;

                // padding-right: 20px;
                .select2-selection__placeholder {
                    color: $secondary;
                    font-weight: $fw-bold;
                }
            }

            .select2-selection__arrow {
                width: 3rem;
                height: 3rem;

                b {
                    width: 24px;
                    height: 24px;

                    margin-left: -12px;
                    margin-top: -12px;

                    border: none;

                    background-repeat: no-repeat;
                    background-size: contain;
                    background-color: transparent;
                    background-position: center;

                    background-image: url("../img/icon/icons_selectdown.svg");
                }
            }
        }

        &.select2-container--open {
            .select2-selection {
                .select2-selection__arrow {
                    b {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

.select2-dropdown {
    border-radius: 0.675rem;
    border: none;
    overflow: hidden;
    padding: 1rem 1rem 1.2rem;
    background-color: #ecf0f5;

    .select2-search {
        padding: 0;
        margin-bottom: 0.2rem;

        .select2-search__field {
            border: solid 1px $light-gray;
            padding: 0.6rem 1rem;
            color: $secondary;

            &:focus-visible {
                outline: none;
            }
        }
    }

    ul.select2-results__options {
        li.select2-results__option {
            padding: 0.8rem 0;
            text-transform: uppercase;
            color: $secondary;
            font-weight: $fw-semi;
            letter-spacing: 0.1rem;

            &:not(:last-child) {
                border-bottom: solid 1px $light-gray;
            }

            &.select2-results__option--highlighted {
                background-color: transparent;
                color: $primary;
            }
        }
    }
}



.degustacao-page,
.assinatura-page {
    .select2-dropdown {
        ul.select2-results__options {
            li.select2-results__option {
                color: $dark-blue;

                &.select2-results__option--highlighted {
                    background-color: transparent;
                    color: $primary;
                }
            }
        }
    }
}