<!-- ======= Main ======= -->
<main id="main" class="list-courses col-12 col-md-12 col-lg-9">

    <div class="row">

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-degustacao01.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-assinatura01.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->
        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-assinatura02.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->
        
        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-degustacao02.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->

        <div class="col-12 col-sm-6 col-md-4">
            <!-- ###### ITEM ###### -->
            {% include "parts/components/card-course.html" %}
        </div><!-- /col -->

    </div><!-- /row -->

</main><!-- End #main -->