<!-- ======= Depoimentos Section ======= -->
<section id="depoimentos" class="depoimentos-section d-flex align-items-center">

    <div class="container" data-aos="fade-up">
        <div class="row d-flex justify-content-between">
            <div class="col-12 col-lg-4">
                <header class="section-title">
                    <h2 class="title-default">
                        <strong>Depoimentos</strong>
                        que nos movem.
                    </h2>
                </header>
            </div><!-- /col -->
            <div class="col-12 col-lg-8 cont-carousel">

                <div id="owl-depoimentos" class="owl-carousel">

                    <!-- ###### ITEM ###### -->
                    {% include "parts/components/card-depoimentos.html" %}

                    <!-- ###### ITEM ###### -->
                    {% include "parts/components/card-depoimentos.html" %}

                    <!-- ###### ITEM ###### -->
                    {% include "parts/components/card-depoimentos.html" %}

                    <!-- ###### ITEM ###### -->
                    {% include "parts/components/card-depoimentos.html" %}

                    <!-- ###### ITEM ###### -->
                    {% include "parts/components/card-depoimentos.html" %}

                    <!-- ###### ITEM ###### -->
                    {% include "parts/components/card-depoimentos.html" %}

                    <!-- ###### ITEM ###### -->
                    {% include "parts/components/card-depoimentos.html" %}

                </div><!-- /infinity-card__carousel -->
            </div><!-- /cont-carousel -->

        </div><!-- /row -->

    </div><!-- /container -->

</section><!-- End Cursos Section -->