/*--------------------------------------------------------------
# Section info
--------------------------------------------------------------*/
.info-section {

    padding-top: calc(2.5rem + 120px);

    .badge {
        font-size: .875rem;
        padding: .6rem;
        border-radius: .3rem;
        font-weight: $fw-medium;
    }

    footer {
        text-align: center;

        p {
            margin-top: .5rem;
            margin-bottom: 0;
            font-size: .875rem;
        }
    }
}