<!-- ======= Cursos Section ======= -->
<section id="top-cursos" class="cursos-section">
    <header class="section-title white" data-aos="fade-up">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-end">
                <div class="col-12 col-md-6 col-lg-5 pr-0">
                    <h2 class="title-default">
                        Conheça nossos cursos de <strong>Graduação!</strong>
                    </h2>
                    <h6 class="subtitle-default">
                        Clique no curso de seu interesse e inscreva-se.
                    </h6>
                </div><!-- /col -->
                <div class="col-12 col-md-6 col-lg-4 pl-md-0 mt-md-0 mt-3">
                    <select class="select2-cursos w-100" name="state">
                        <option></option>
                        <option value="Área 1">Área 1</option>
                        <option value="Área 2">Área 2</option>
                        <option value="Área 3">Área 3</option>
                        <option value="Área 4">Área 4</option>
                        <option value="Área 5">Área 5</option>
                    </select>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </header>

    <div class="infinity-card">
        <div class="container cont-carousel">
            <div id="owl-cursos" class="owl-carousel infinity-carousel">

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-course.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-course.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-course.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-course.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-course.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-course.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-course.html" %}

            </div><!-- /infinity-card__carousel -->
        </div><!-- /cont-carousel -->
    </div><!-- /infinity-card -->

</section><!-- End Cursos Section -->