<!-- ======= Assinatura Section ======= -->
<section id="assinatura" class="assinatura-section">
    <header class="section-title" data-aos="fade-up">
        <div class="container">
            <h2 class="title-default">
                O que vai constar <strong>nessa assinatura?</strong>
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget mi lectus. Donec sit amet scelerisque tellus, quis vulputate mauris. Aenean magna massa, mattis dapibus urna nec, consectetur suscipit massa. Mauris lacinia mi est, non tristique libero suscipit at. Pellentesque ipsum libero, pulvinar interdum lacus a, sollicitudin porttitor urna.
            </p>
        </div><!-- /container -->
    </header>

    <div class="infinity-card">
        <div class="container cont-carousel">
            <div id="owl-assinaturas" class="owl-carousel infinity-carousel">

                <!-- ###### ITEM ###### -->
                <div class="card card-signature" data-aos="fade-up" data-aos-delay="100">

                    <header class="card-header">
                        <h2 class="card-title">
                            Destaque-se e saia na frente
                        </h2>
                    </header><!-- /card-header -->

                    <div class="card-body">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscid elit. Fusce gravida velit sed purus tincidunt tincidunt. Nullam malesuada gravida magna, non gravida urna condimentum in. Nam dictum lacus id bibendum rutrum.
                        </p>
                    </div><!-- /card-body -->

                    <footer class="card-footer">
                        <img class="img-fluid" src="https://picsum.photos/id/20/310/178" width="310"
                                            height="178" alt="lorem_ipsum">
                    </footer><!-- /card-footer -->

                </div><!-- /card -->

                <!-- ###### ITEM ###### -->
                <div class="card card-signature" data-aos="fade-up" data-aos-delay="100">

                    <header class="card-header">
                        <h2 class="card-title">
                            Streaming de conteúdo variados
                        </h2>
                    </header><!-- /card-header -->

                    <div class="card-body">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscid elit. Fusce gravida velit sed purus tincidunt tincidunt. 
                        </p>
                    </div><!-- /card-body -->

                    <footer class="card-footer">
                        <img class="img-fluid" src="https://picsum.photos/id/32/310/178" width="310"
                                            height="178" alt="lorem_ipsum">
                    </footer><!-- /card-footer -->

                </div><!-- /card -->

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-signature.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-signature.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-signature.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-signature.html" %}

                <!-- ###### ITEM ###### -->
                {% include "parts/components/card-signature.html" %}

            </div><!-- /infinity-card__carousel -->
        </div><!-- /cont-carousel -->
    </div><!-- /infinity-card -->

</section><!-- End Cursos Section -->