/*--------------------------------------------------------------
# Section planos
--------------------------------------------------------------*/
.planos-section {

    position: relative;
    overflow: hidden;

    background: $bg-gradient;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        // background-color: $primary;
        background-image: url("../img/bg-vector.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: cover;
    }

    .section-title {
        margin-bottom: 3rem;

        .title-default {
            strong {
                display: block;
            }
        }
    }

}