<!-- ======= Course card ======= -->
<div class="card card-cta assinatura" data-aos="fade-up" data-aos-delay="100">

    <header class="card-header">
        <img src="assets/img/cursos/img-cta-assinatura01.svg" class="img-top"/>
    </header><!-- /card-header -->

    <div class="card-body">
        <h2 class="card-title">
            Assinatura
        </h2>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elitlobortis tincidunt tincidunt.
        </p>
    </div><!-- /card-body -->

    <footer class="card-footer">
        <a href="#" class="btn btn-block btn-extra" title="Quero Assinar">Quero Assinar</a>
        <a href="curso.html" class="btn btn-block btn-white" title="Saiba mais">Saiba mais</a>
    </footer><!-- /card-footer -->

</div><!-- /card -->