<!-- ======= Course card ======= -->
<div class="card card-testimonials" data-aos="fade-up" data-aos-delay="100">
    
    <div class="card-body">
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit dignissim mi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra tortor, odio dignissim mi. Sed enim gravida vehicula imperdiet.<br>
            Pharetra tortor, odio dignissim mi. Sed enim gravida vehicula imperdiet.<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit dignissim mi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra tortor, odio dignissim mi. Sed enim gravida vehicula imperdiet.
        </p>
    </div><!-- /card-body -->

    <footer class="card-footer">
        <div class="testimonials-user">
            <img class="img-fluid" src="assets/img/img-depoimentos.png" alt="lorem_ipsum">

            <h5 class="author-info">
                Lorem Ipsum Dolor
                <span>
                    Aluno de (curso)
                </span>
            </h5>
        </div><!-- /testimonials-user -->
    </footer><!-- /card-footer -->

</div><!-- /card -->