<!-- ======= Signature card ======= -->
<div class="card card-signature" data-aos="fade-up" data-aos-delay="100">

    <header class="card-header">
        <h2 class="card-title">
            Nome do Curso
        </h2>
    </header><!-- /card-header -->

    <div class="card-body">
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscid elit. Fusce gravida velit sed purus tincidunt tincidunt. Nullam malesuada gravida magna, non gravida urna condimentum in. Nam dictum lacus id bibendum rutrum.
        </p>
    </div><!-- /card-body -->

    <footer class="card-footer">
        <img class="img-fluid" src="https://picsum.photos/id/20/310/178" width="310"
                            height="178" alt="lorem_ipsum">
    </footer><!-- /card-footer -->

</div><!-- /card -->